<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvvm.kot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Kotlin_Retrofit.Views.RetroKotlinActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Kotlin_Retrofit_Room.Views.RetroRoomActivity" />
        <activity android:name=".Kotlin_Login.Views.LoginActivity" />
        <activity android:name=".Kotlin_login_dataBinding.Views.LoginDataBindingActivity" />
        <activity android:name=".Kotlin_Retrofit_Room_Data_Binding.Views.RetroRoomDataBindedActivity" />
        <activity android:name=".Kotlin_Simple_List_DataBinding.Views.SimpleListActivity" />
        <activity android:name=".Kotlin_tabs.TabActivity"></activity>
    </application>

</manifest>